.acessibilidade-menu {
    position: fixed;
    font-size: #171717;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    background-color: #2c2a2a;
    border: 2px solid #171717;
    padding-block: 5px;
    padding-right: 15px;
    padding-left: 8px;
    border-radius: 8px;
}

.sr-only {
    display: none;
}

.acessibilidade-menu>div {
    display: flex;
    gap: 15px;
    padding-inline: 8px;
    border-right: 1px solid #171717;
}

.acessibilidade-menu button {
    color: var(--color-);
    background-color: transparent;
    padding: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: var(--font-size-p);
}

#contraste {
    border-radius: 0px;
    padding-right: 10px;
    border-right: 1px solid #171717;
}

#contraste img {
    width: 1.2em;
    height: 1.2em;
    margin-bottom: -0.2em;
    filter: invert(1);
}

#vlibras-button img {
    width: 1.5em;
    height: 1.5em;
    margin-bottom: -0.25em;
    filter: invert(1);
}


.alto-contraste table, 
.alto-contraste form, 
.alto-contraste input[type="text"],
.alto-contraste input[type="email"],
.alto-contraste input[type="password"],
.alto-contraste input[type="tel"], 
.alto-contraste textarea,  
.alto-contraste select, 
.alto-contraste section, 
.alto-contraste header, 
.alto-contraste footer, 
.alto-contraste nav, 
.alto-contraste h1, 
.alto-contraste h2, 
.alto-contraste h3, 
.alto-contraste p, 
.alto-contraste ul, 
.alto-contraste ol, 
.alto-contraste li,
.alto-contraste strong,
.alto-contraste a {
    background-color: #000 !important;
    color: #fff !important;
}
.alto-contraste #background-logo,
.alto-contraste #team-member{
    background-color: transparent !important;
    filter: none !important;
}




