.content { float:left; width:92%; margin:0 4%; padding: 20px 0; }


/*Seu Código*/
.section-seu-codigo          { padding:10px 0px; background-color:#212121; }
.section-seu-codigo .content { float:left; padding:1em 0; list-style-type: none;}


/*AppSocial*/
.btn_social { 
	
	width:100%; 
	float:left; 
	display:list-item; 
	margin:auto; 
}

.btn_social ul  { 
	
	width:auto; 
	margin:auto; 
	float:left; 
	display:block; 
}

.btn_social ul li  { 
	
	position:relative; 
	background:#080808; 
	list-style:none; 
	float:left; 
	margin:5px; 
	z-index:1; 
	overflow:hidden; 
	border-radius:3px; 
	font-size:1.5em; 
	text-align:center; 
}

.btn_social ul li a  { 

	width:50px; 
	height:50px; 
	line-height:53px; 
	display:block; 
	text-decoration:none; 
	color:#fff; 
	transition:.4s;

}

.btn_social ul li::before { 

	transition:0.4s; 
	position:absolute; 
	content:''; 
	width:100%; 
	height:100%; 
	top:90%; 
	left:0; 
	background:#949494; /*altera a cor da animação */
	z-index:-1; 
	transform: scale(1); 
	transition:.4s; 
}

.btn_social ul li:hover::before { transition:0.4s; top:0%; }
.btn_social ul li a:hover       { color:#080808; }
/*App Social*/

/*FOOTER*/
.main_footer          { background-color:#080808; color:#fff; font-size:0.875em; }
.main_footer .content { padding:3em 0em; }
.main_footer_copy       { background-color:#080808; width:100%; float:left; text-align:center; padding:1.5em 0em; }
.main_footer_copy p     { font-family:'open_sanslight'; font-size:1em; color:#e1e0e0; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }
