@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


.card{
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: 1.5s;
}
.card:hover{
    width: 250px;
}


.description1{
    color: antiquewhite;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;    
    text-align: center;
    margin-right: 25px;
}
.description3{
    color: antiquewhite;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;    
    text-align:left ;
    margin-left: 50px;
    margin-bottom: 10px;
}